# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.idea
.fleet
.trigger
trigger.config.ts

# Local env files
.env
.env.*
!.env.example

.assets/P22 Mackinac.zip
.assets/exports/*
.assets/Mackinac/*
.dev/*
.bruno/*
pages/dev/*
