body{

}

[data-bs-theme=dark]{
  --tblr-body-bg: #191a22;

  --tblr-bg-surface: #2c2e3bef;
  --tblr-bg-surface-tertiary: #202231ef;

  --tblr-bg-forms: #191a22;
  --tblr-border-color: #2a2d39;
}

::root{
  --tblr-scrollbar-color: #e9ecef;
}
