// @import url('https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');
// @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

@font-face {
  font-family: Mackinac;
  src: url("/fonts/P22MackinacPro-Medium_26.otf") format("opentype");
}

@font-face {
  font-family: Mackinac;
  font-weight: bold;
  src: url("/fonts/P22MackinacPro-ExtraBold_12.otf") format("opentype");
}


h1,h2,h3,h4,h5,h6 {
  font-family: Mackinac, sans-serif;
  // font-family: 'Lora', serif;
  // font-family: 'DM Serif Display', serif;
  // font-family: 'Playfair Display', serif;
  // font-weight: 600;
}

.font-serif {
  font-family: Mackinac, sans-serif;
  // font-family: 'Lora', serif;
  // font-family: 'DM Serif Display', serif;
  // font-family: 'Playfair Display', serif;
  // font-weight: 600;
}



// body{
//   // background: linear-gradient(rgb(44, 45, 60) 0%, rgb(25, 26, 35) 50%);
// }

* {
  scrollbar-color: unset;
}

::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background: #363b41; /* Color of the scroll thumb */
  border-radius: 2px; /* Roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}

.ch {
  --geist-background: #151f2c;
  --gradient-from: 247 185 85;
    --gradient-to: 255 0 128;
  background: linear-gradient(to top,var(--geist-background) 0,hsla(0,0%,100%,0) 100%),linear-gradient(90deg,rgb(var(--gradient-from, 85 85 85)/.2) 0,rgb(var(--gradient-to, 85 85 85)/.2) 100%);
  background-size: 100% 100%,100% 100%,1440px 1px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  z-index: -64;
  position: absolute;
}

#detailPage {
  opacity: 0.4;
  position: fixed;
  pointer-events: auto;
  background-color: #1b1a19;
  // background-color: var(--tblr-body-bg);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  filter: url(#grainy);
}

#detailCanvas {
  position: absolute;
  top: 0px;
  bottom: 0;
  // background-color: #1b1a19;
  white-space: nowrap;
  box-shadow: none;
  width: 100%;
  left: 0;
  bottom: 0px;
  height: 100%;
}

.bg_gradient_body {
  z-index: -1;
  pointer-events: none;
}

.bg_gradient_large {
  position: absolute;
  width: 1140px;
  height: 1140px;
  left: -20px;
  top: 365px;
  background: linear-gradient(
    69.81deg,
    rgba(255, 209, 139, 0.3) 9.22%,
    rgba(255, 183, 217, 0.3) 33.5%,
    rgba(139, 186, 255, 0.3) 78.79%
  );
  filter: blur(320px);
  border-radius: 1000px;
}

.bg_gradient_small {
  position: absolute;
  width: 820px;
  height: 820px;
  left: 1720px;
  top: 120px;
  background: linear-gradient(
    69.81deg,
    rgba(255, 209, 139, 0.3) 9.22%,
    rgba(255, 183, 217, 0.3) 33.5%,
    rgba(139, 186, 255, 0.3) 78.79%
  );
  filter: blur(320px);
  border-radius: 1000px;
}
