svg.tabler-icon {
  stroke: currentColor;
}

.navbar .dropdown-menu {
  position: static;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: static;
  }
}

kbd {
  font-family: monospace;
  // background: rgb(35 35 35);
  color: #a0a0a0;
  /* height: 20px; */
  /* width: 24px; */
  border-radius: 3px;
  /* padding: 0.25rem 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  // font-size: 0.65rem;
}
