.card-game {
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  will-change: transform brightness;
  transition: all 0.1s ease-in-out;
  filter: brightness(0.88);

  will-change: transform brightness;
  // transition: all 0.1s ease-in-out;
  transition: all 150ms linear;

  &:hover {
    filter: brightness(1.08);
    transform: translateY(-2px);
  }

  &.is-bordered &__cover {
    outline: 1px solid var(--bckg-state-color);
    /* outline-offset: 0px; */
  }

  &.is-bordered:hover &__cover {
    outline: 2px solid var(--bckg-state-color);
  }

  &.is-hidden &__cover {
    opacity: 0.3;
    filter: grayscale(1) brightness(0.7);
  }

  &.is-tracking &__cover {
    transform: perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: all 150ms linear;
  }

  &__cover {
    width: 100%;
    position: relative;
    cursor: pointer;

    border-radius: 3px;
    border-radius: 2px;

    // aspect-ratio: 2.2/3;
    // Steam has 2/3 aspect ratio
    // IGDB has 3/4 aspect ratio (not for all games)
    // EGS has 3/4 aspect ratio
    // 27/40 is a good compromise
    aspect-ratio: 27/40;
    // aspect-ratio: 3/1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // filter: brightness(0.9);
    // background: linear-gradient(0deg, #000, #272727);

    // outline: 1px solid rgba(0, 0, 0, 0.3);
    // outline: 1px solid rgba(255, 255, 255, 0.15);
    // outline-offset: -1px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);

    &.is-banner {
      background-size: cover;
      background-position: center center;
    }

    &.is-banner img {
      margin: 15px;
      border-radius: 2px;
    }

    &:not(.is-banner) img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & img {
      z-index: 1;
      /* object-fit: cover; */

      // outline: 1px solid rgba(255, 255, 255, 0.15);
      // outline-offset: -1px;
      // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);

      //   // border-radius: 4px;
      //   // max-width: 100%;
      //   // max-height: 100%;
      outline: 1px solid rgba(255, 255, 255, 0.15);
      outline-offset: -1px;
      // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);

      // outline: rgba(255, 255, 255, 0.65) solid 2px;
      // outline-offset: -2px;
      // box-shadow: rgba(0, 0, 0, 0.36) 1px 1px 3px;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      border: 1px solid rgba(255, 255, 255, 0.1);
      pointer-events: none;

      opacity: 0.7;
      filter: blur(50px);
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 90%);
      z-index: 0;
      position: absolute;
    }
  }

  &__details {
    padding-top: 8px;

    & .details__name {
      font-size: 0.8rem;
      letter-spacing: 0.5px;
      color: rgba(255, 255, 255, 0.55);
      // font-family: fantasy;
    }
  }

  & .status {
    border-radius: 2px;
    position: absolute;
    z-index: 5;
    right: 4px;
    top: 4px;
    padding: 0.25rem 0.5rem;
    background: #66738266;
    transform: scale(0.9);
  }
}

.games-group {
  // user-select: none;

  & .game--list {
    & .game__cover {
      z-index: 1;
      outline: 1px solid rgba(255, 255, 255, 0.15);
      outline-offset: -1px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
      max-width: 100px;
      max-height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &.squared {
        aspect-ratio: 1/1;
        max-height: 55px;
        border-radius: 2px;
      }
    }
  }
}

// .card-game:before {
//   content: '';
//   position: absolute;
//   border-radius: 3px;
//   border-radius: 3px;

//   // left: -1px;
//   // top: -1px;
//   // width: calc(100% + 2px);
//   // height: calc(100% + 2px);

//   left: 0px;
//   top: 0px;
//   width: calc(100%);
//   height: calc(100%);

//   // background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
//   // 	#0000ff, #00ff00,#ffff00, #ff0000);
//   background: linear-gradient(0deg, #0000002c, #272727af);
//   background-size: 400%;
//   z-index: -1;
// }

/*
.card.card-game::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cover-color: rgb(120 120 120 / 50%); adjust opacity as needed
} */
