.game-card {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: row;

  width: 850px;
  // height: 350px;
  height: auto;
  margin: 100px auto;
  // border-radius: 4px !important;

  // overflow: hidden;
  // transition: all 0.4s;

  &:hover {
    // transform: scale(1.02);
    transition: all 0.4s;
  }
  .modal-back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 2;
    // border-radius: 4px;

    background:
      -webkit-radial-gradient(
        50% top,
        rgba(34, 15, 51, 0.57) 0,
        rgba(20, 24, 31, 0.82) 80%
      ),
      0 0;
    background-size:
      100% 100%,
      220px;
    opacity: 0.3;
  }

  .info_section {
    user-select: none;
    position: relative;
    // border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 30px;

    color: #3a4049;
    background-color: rgb(204 183 176 / 32%);

    h5 {
      font-weight: 400;
      margin-bottom: 5px;
    }

    .info-header {
      position: relative;
      width: 100%;
      background: none !important;

      h2 {
        padding-top: 0.5rem;
        font-weight: 500;
        margin-bottom: 8px;
        letter-spacing: normal;
        letter-spacing: initial !important;
      }

      h4 {
        font-weight: 400;
      }

      .minutes {
        display: inline-block;
        margin-top: 10px;
        padding: 5px;
        border: 1px solid rgb(58 64 73 / 13%);
        border-radius: 4px;
      }

      .type {
        display: inline-block;
        margin-left: 10px;
      }

      .locandina {
        position: relative;
        float: left;
        margin-right: 20px;
        max-height: 140px;
        max-width: 130px;
        // border-radius: 2px;
        // box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);

        outline: 1px solid rgba(255, 255, 255, 0.15);
        outline-offset: -1px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
      }

      .status {
        color: #3a4049;
      }
    }
    .movie_desc {
      padding: 25px;
      height: 60%;
      .text {
        color: #cfd6e1;
      }
    }
    .movie_social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          color: rgba(255, 255, 255, 0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover {
            transition: color 0.3s;
            color: rgba(255, 255, 255, 0.8);
          }
          i {
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back {
    height: 100%;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: stretch;

    z-index: 0;
    filter: blur(0.5px) opacity(0.95);

    & img {
      // width: 100%;
      // height: 100%;
      object-fit: cover;

      animation-name: FakeLoadedFadeIn;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(40, 25, 48, 0.7);
      z-index: 5;
      position: absolute;
    }
  }
}

@media screen and (min-width: 768px) {
}

//+-------------------------------------------------
// Mobile view
//+-------------------------------------------------
@media screen and (max-width: 768px) {
  .game-card {
    width: 95vw;
    max-width: 95vw;
    min-width: unset !important;
  }
}

//+-------------------------------------------------
// Dialog animations
//+-------------------------------------------------

.details-modal-out {
  transform: scale(0.95) translateY(-3px);
  opacity: 0;
}

//+-------------------------------------------------
// Dialog base styles
//+-------------------------------------------------

.game-details_modal {
  display: flex;
  justify-content: center;
  align-items: center;

  & .game-details-content {
    min-height: 350px;
    min-width: 950px;
    background-color: #fff;

    // border-radius: 3px;
    box-shadow: 0 0 25px #000;
    outline: 1px solid #3a4049;
    outline-offset: -1px;

    box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);

    &:hover {
      box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
    }
  }
}
