.hunaa-menu-enter-active,
.hunaa-menu-leave-active {
  transition: transform 0.4s ease-in-out;
}
.hunaa-menu-full {
  transform: translateY(0);
}
.hunaa-menu-y-0 {
  transform: translateY(-100vh);
}
.movie_card {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: row;

  width: 850px;
  // height: 350px;
  height: auto;
  margin: 100px auto;
  border-radius: 10px !important;

  // overflow: hidden;
  // transition: all 0.4s;

  &:hover {
    // transform: scale(1.02);
    transition: all 0.4s;
  }
  .modal-back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 4px;

    background:
      -webkit-radial-gradient(
        50% top,
        rgba(34, 15, 51, 0.57) 0,
        rgba(20, 24, 31, 0.82) 80%
      ),
      0 0;
    background-size:
      100% 100%,
      220px;
    opacity: 0.3;
  }

  .info_section {
    user-select: none;
    position: relative;
    width: 100%;
    min-height: 350px;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 4px;
    margin: 0;
    padding: 15px;

    // border: 2px solid #0000007a;
    outline: 1px solid rgba(255, 255, 255, 0.15);
    outline-offset: -1px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);

    .movie_header {
      position: relative;
      padding: 10px;
      height: 40%;
      background: none !important;
      h2 {
        color: #fff;
        font-weight: 400;
        margin-bottom: 8px;
      }
      h4 {
        color: #9ac7fa;
        font-weight: 400;
      }
      .minutes {
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.13);
      }
      .type {
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      .locandina {
        position: relative;
        float: left;
        margin-right: 20px;
        max-height: 140px;
        max-width: 130px;
        border-radius: 2px;
        // box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);

        outline: 1px solid rgba(255, 255, 255, 0.15);
        outline-offset: -1px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
      }
    }
    .movie_desc {
      padding: 25px;
      height: 60%;
      .text {
        color: #cfd6e1;
      }
    }
    .movie_social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          color: rgba(255, 255, 255, 0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover {
            transition: color 0.3s;
            color: rgba(255, 255, 255, 0.8);
          }
          i {
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    overflow: hidden;
    border-radius: 4px;

    display: flex;
    justify-content: flex-end;
    align-items: stretch;

    & img {
      // width: 100%;
      // height: 100%;
      object-fit: cover;

      animation-name: FakeLoadedFadeIn;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes FakeLoadedFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    background: linear-gradient(
      90deg,
      rgb(20, 8, 34) 0%,
      rgba(27, 36, 54, 0.9) 65%,
      rgb(39, 45, 70) 100%
    );
    background: linear-gradient(
      133deg,
      #0d0d0c 40%,
      rgba(13, 13, 12, 0.6) 85%,
      transparent 100%
    );
  }

  .blur_back {
    width: 100%;
    background-position: -100% 10% !important;
  }
}

//+-------------------------------------------------
// Mobile view
//+-------------------------------------------------
@media screen and (max-width: 768px) {
  .movie_card {
    width: 93%;
    margin-top: 80px;
    min-width: unset !important;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(
      133deg,
      #0d0d0c 40%,
      rgba(13, 13, 12, 0.6) 85%,
      transparent 100%
    );
  }
}

.details-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  & .details-modal-content {
    min-width: 800px;
    background-color: #3a4049;
    border-radius: 3px;
    box-shadow: 0 0 25px #000;
    outline: 1px solid #3a4049;
    outline-offset: -1px;

    box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);

    &:hover {
      box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
    }
  }
}

.game-details {
  & .modal-dialog {
    min-width: 800px;
  }

  & .modal-content {
    box-shadow: 0 0 25px #000;
    outline: 1px solid #3a4049;
    outline-offset: -1px;
    border-radius: 3px;
  }

  & .modal-body {
    padding: 0;
    overflow: hidden;

    & .details-sidebar {
      padding: 50px;

      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      background-color: #3a4049;
    }

    & .details-content {
      padding: 20px;
    }
  }
}
