@media (min-width: 992px) {
  .col-lg-25 {
    flex: 0 0 auto;
    width: 20%;
  }

  .col-lg-custom {
    flex: 0 0 auto;
    width: 14.285%;
    /* width: 12.5%; 7 columns */
    /* width: 12.5%; 8 columns */
  }
}

.col-25 {
  flex: 0 0 auto;
  width: 20%;
}
