/**
 * @file:    \assets\scss\overrides\tabler-overrides.scss
 * @desc:    ...
 * ----------------------------------------------
 * Created Date: 7th November 2024
 * Modified: 6th November 2025 - 03:27:21
 **/

//+-------------------------------------------------
// CSS Variables
//+-------------------------------------------------

[data-tabler='backlog'] {
  // This is the same as setting the option via [data-bs-theme-radius]
  // Setting the var updates many tabler components in many sizes (lg, sm, xs)
  --tblr-border-radius-scale: 0.5;

  // Define theme colors
  // --tblr-primary: #ae3ec9;
  // --tblr-primary-rgb: 174, 62, 201;
  // --tblr-secondary: #4a90e2;
  // --tblr-secondary-rgb: 74, 144, 226;

  --tblr-primary: #6f5e88; // Some text colors, input backgrounds, etc
  --tblr-primary-rgb: 111, 94, 136;
  // --tblr-secondary: #ec0e0e; // Secondary gray, muted, etc

  --tblr-gray-50: #f8fafc;
  --tblr-gray-100: #f1f5f9;
  --tblr-gray-200: #e2e8f0;
  --tblr-gray-300: #cbd5e1;
  --tblr-gray-400: #94a3b8;
  --tblr-gray-500: #64748b;
  --tblr-gray-600: #475569;
  --tblr-gray-700: #334155;
  --tblr-gray-800: #1e293b;
  --tblr-gray-900: #0f172a;
  --tblr-gray-950: #020617;

  // 700 Lines and shades
  // 800 Background for cards, sidebar, etc
  // 900 input bg

  --tblr-gray-50: #fafafa;
  --tblr-gray-100: #f4f4f5;
  --tblr-gray-200: #e4e4e7;
  --tblr-gray-300: #d4d4d8;
  --tblr-gray-400: #a1a1aa;
  --tblr-gray-500: #71717a;
  --tblr-gray-600: #52525b;
  --tblr-gray-700: #3f3f46;
  --tblr-gray-800: #2c2e3bb2; // #27272a;
  --tblr-gray-900: #1c1922; // #18181b;
  --tblr-gray-950: #09090b;
}

:root {
  scroll-behavior: auto !important;
}
// html {
// --tblr-card-border-radius: 4px;
// --tblr-border-radius-lg: 4px;
// }

svg.tabler-icon {
  stroke: currentColor;
}

.navbar .dropdown-menu {
  position: static;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: static;
  }
}

// kbd {
//   font-family: monospace;
//   // background: rgb(35 35 35);
//   color: #a0a0a0;
//   /* height: 20px; */
//   /* width: 24px; */
//   border-radius: 3px;
//   /* padding: 0.25rem 0.5rem; */
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   // font-size: 0.65rem;
// }

//+-------------------------------------------------
// Form elements
//+-------------------------------------------------
.form-label {
  margin-bottom: 0.3rem;
}

.form-help {
  display: inline-flex;
  font-weight: var(--tblr-font-weight-bold);
  align-items: center;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  font-size: 0.65rem;
  // color: #ffffff;
  color: rgba(var(--tblr-muted-rgb), var(--tblr-text-opacity)) !important;
  text-align: center;
  text-decoration: none;
  cursor: help;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: rgba(0, 0, 0, 0.2);

  border-radius: 100rem;
  transition:
    background-color 0.3s,
    color 0.3s;
  opacity: 0.6;
  outline: 1px solid rgba(var(--tblr-muted-rgb), 0.5);
}

.form-help:hover {
  color: #000000;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1 !important;
}

//+-------------------------------------------------
// Pagination
//+-------------------------------------------------
.page-item.active .page-link {
  color: white;
  background-color: rgb(45 45 59);
  border: 1px solid rgba(110, 116, 180, 0.4);
  border: transparent;
}

.page-link:hover {
  background: rgb(255 255 255 / 8%);
  color: #fff;
}

.page-link:focus {
  box-shadow: none;
  background-color: unset;
}

//+-------------------------------------------------
// Tabler demo CSS
//+-------------------------------------------------
.highlight pre,
pre.highlight {
  max-height: 30rem;
  margin: 1.5rem 0;
  overflow: auto;
  border-radius: var(--tblr-border-radius);
}
.highlight {
  margin: 0;
}
.highlight code > * {
  margin: 0 !important;
  padding: 0 !important;
}
.highlight .c,
.highlight .c1 {
  color: #a0aec0;
}
.highlight .nc,
.highlight .nt,
.highlight .nx {
  color: #ff8383;
}
.highlight .na,
.highlight .p {
  color: #ffe484;
}
.highlight .dl,
.highlight .s,
.highlight .s2 {
  color: #b5f4a5;
}
.highlight .k {
  color: #93ddfd;
}
.highlight .mi,
.highlight .s1 {
  color: #d9a9ff;
}
.card-sponsor {
  background: var(--tblr-primary-lt) no-repeat center/100% 100%;
  border-color: var(--tblr-primary);
  min-height: 316px;
}

ul.steps.steps-vertical {
  padding-left: 0;
  border: none;
  margin-left: 0;
}
