.list-group-item:active,
.list-group-item:focus,
.list-group-item:hover {
  background-color: rgba(var(--tblr-secondary-rgb), 0.04);
}

.list-group-item.disabled,
.list-group-item:disabled {
  color: #929dab;
  background-color: rgba(var(--tblr-secondary-rgb), 0.04);
}

.list-group i.mdi-chevron-up,
.list-group i.mdi-chevron-down {
  transform: rotate(180deg);
}

// List position input
.list-position {
  max-width: 125px;
  transform: scale(0.65) translateX(5px);

  .v-field {
    border: none;
    border-radius: 3px;
    background-color: rgb(255 255 255 / 3%);
    box-shadow: none;
  }

  &.v-number-input .v-field__input {
    transform: none;
    padding-left: 8px;
  }
}
