li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: rgba(108, 122, 145, 0.08);
}

.b-menu {
  margin-top: 5px;
  padding: 5px;
  position: absolute;

  --tblr-dropdown-divider-margin-y: 0.4rem;
}

.b-menu .dropdown-item {
  border-radius: 5px;
  cursor: pointer;
}
