.docs-side {
  background: #f7f9fb;
  border-right: 1px solid #dbdef0;
  font-size: 0.875rem;
  z-index: 1;
  position: sticky;
  top: calc(5rem + 1px);
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.docs-side:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
  z-index: -1;
  background: inherit;
}

.docs-side-toc {
  width: 15rem;
  position: sticky;
  top: calc(5rem + 1px);
  height: calc(100vh - 5rem);
  display: none;
}

.docs-menu {
  gap: 1.5rem;
  margin: 0;
  overflow-y: auto;
  max-height: 100%;
  padding: 2rem 0;
}

.docs-menu-item {
  color: #515671;
  padding: 0.25rem 1rem;
  border-left: 1px solid #dbdef0;
  transition: border-color 0.5s, color 0.5s;
}

.docs-menu-item:hover {
  color: #232b42;
  border-left-color: #232b42;
}

.docs-menu-item.active {
  color: #0054a6;
  border-left-color: #0054a6;
}

.docs-menu,
.docs-menu-group,
.docs-menu-submenu {
  display: flex;
  flex-direction: column;
}
